.pokemon {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 300px;
	padding-bottom: 15px;

	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow:
		0 3px 2px 0 rgba(0,0,0,0.03),
		0 0 0 1px transparent;
	border-radius: 4px;

	transition: all 450ms var(--easing);
}
.pokemon:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 4px 0 rgba(0,0,0,0.02);
}
.pokemon-onmyball {
	border-color: var(--green);
	box-shadow:
		0 3px 2px 0 rgba(0,0,0,0.03),
		0 0 0 1px var(--green);
}
.pokemon-onmyball:hover {
	box-shadow:
		0 3px 2px 0 rgba(0,0,0,0.02),
		0 0 0 1px var(--green);
}
.pokemon-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: 150px;
}
.pokemon-image img {
	display: block;
}
.pokemon-ball {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0; right: 0;
	padding: 15px;
	cursor: pointer;
	color: var(--darkgray);
	opacity: 0;
	transform: translateY(5px);
	transition: all 450ms var(--easing);
}
.pokemon:hover .pokemon-ball {
	opacity: 1;
	transform: translateY(0);
}
@media screen and (max-width: 860px) {
	.pokemon .pokemon-ball {
		opacity: 1;
		transform: translateY(0);
	}
}
.pokemon-ball:hover {
	color: var(--red);
}
.pokemon-ball .icon,
.pokemon-ball svg {
	display: block;
}
.pokemon-name {
	padding: 5px 20px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #050706;
	text-transform: capitalize;
}
.pokemon-name a {
	text-decoration: none;
	color: inherit;
}
.pokemon-name a:hover {
	text-decoration: underline;
}
.pokemon-types {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 20px;
}
.pokemon-type {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	border-radius: 3px;
	padding: 4px 7px;
	margin: 3px;
	background-color: var(--typeColor);
}
.pokemon-stats {
	display: flex;
	flex-direction: column;
	padding: 5px 20px;
}
.pokemon-stats-title {
	padding: 5px 0;
	font-size: 14px;
	font-weight: 600;
}
.pokemon-stats-list {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
}