.pokemon-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 35px;
}
.pokemon-detail .pokemon {
	width: 700px;
	max-width: 100%;
	flex-direction: row;
	transform: none !important;
}
.pokemon-detail .pokemon .pokemon-ball {
	opacity: 1;
	transform: translateY(0);
}
.pokemon-detail .pokemon-left {
	width: 300px;
}
.pokemon-detail .pokemon-right {
	flex: 1;
	padding-top: 15px;
}
@media screen and (max-width: 690px) {
	.pokemon-detail .pokemon {
		flex-direction: column;
	}
	.pokemon-detail .pokemon-left {
		width: 100%;
	}
}