.pokemons {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 15px;
}
.pokemons .pokemon {
	margin: 15px;
}
.pokemons-next {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	flex: 1;
	width: 100%;
	min-width: 300px;
	max-width: 300px;
	min-height: 120px;
	margin: 15px;

	background-color: var(--blue);
	border: 1px solid var(--blue);
	box-shadow:
		0 3px 2px 0 rgba(0,0,0,0.03),
		0 0 0 1px var(--blue);
	border-radius: 4px;

	color: #fff;

	cursor: pointer;
	transform: translateY(0);
	transition: all 450ms var(--easing);
}
.pokemons-next:hover {
	transform: translateY(5px);
}
.pokemons-next .icon,
.pokemons-next svg {
	display: block;
	stroke-width: 1;
}
.pokemons-next span {
	margin-top: 15px;
	font-weight: 800;
}
.pokemons > .loading {
	position: fixed;
	bottom: 0; right: 0;
	padding: 15px;
}
.pokemons-empty {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	text-align: center;
}
.pokemons-empty .icon {
	display: block;
	color: var(--red);
}
.pokemons-empty svg {
	display: block;
}
.pokemons-empty .feather-life-buoy {
	transform: rotate(45deg);
}
.pokemons-empty .feather-life-buoy line:nth-child(3),
.pokemons-empty .feather-life-buoy line:nth-child(4) {
	display: none;
}
.pokemons-empty a {
	padding: 5px 7px;
	margin-top: 40px;
	border-radius: 4px;
	color: #000;
	font-size: 25px;
	text-decoration: none;
	background-color: rgba(0,0,0,.1)
}
.pokemons-empty a:hover {
	background-color: rgba(0,0,0,.15)
}