.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 20px;
	background-color: var(--headerColor);
	transition: all 450ms var(--easing);
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	font-weight: 900;
	color: #fff;
	font-size: 20px;
	line-height: 1;
}
.logo a {
	text-decoration: none;
	color: inherit;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
}
.nav a {
	text-decoration: none;
	color: inherit;
	padding: 0 20px;
}
.nav a.active {
	color: #000;
}