:root {
	--easing: cubic-bezier(0.23, 1, 0.32, 1);

	--bgColor: #F3F3F3;
	--headerColor: #FF4136;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bgColor);
	min-height: 100vh;
}

a {
	transition: all 450ms var(--easing);
}