:root {
	--easing: cubic-bezier(0.23, 1, 0.32, 1);

	--bgColor: #F3F3F3;
	--headerColor: #FF4136;
	
	--gray: #B9CDE1;
	--darkgray: #8d9aa7;
	--darkestgray: #6d7782;
	--blue: #036FDB;
	--green: #55C4C2;
	--yellow: #ffc000;
	--orange: #F3B071;
	--red: #FF4136;
	--lightblue: #EEF5FC;
	--white: #fff;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bgColor);
	min-height: 100vh;
}

a {
	transition: all 450ms var(--easing);
}